@charset "UTF-8";
html,
body {
  color: #606060;
  font: 12px/150% Arial, Tahoma, "微软雅黑";
  width: 100%;
  height: 100%;
}

#fiex {
  height: 100%;
  width: 34px;
  position: fixed;
  top: 0;
  right: 0;
  width: 34px;
  background: #000;
  z-index: 9999;
}
#fiex .wm-toolbar-tab {
  position: absolute;
  left: 0;
  bottom: 0;
}
#fiex .wm-toolbar-tab ul > li {
  position: relative;
  height: 34px;
  width: 34px;
  margin-top: 6px;
  line-height: 34px;
  cursor: pointer;
}
#fiex .wm-toolbar-tab ul > li i {
  width: 34px;
  height: 34px;
  color: #fff;
  display: block;
  text-align: center;
}
#fiex .wm-toolbar-tab ul > li span {
  overflow: hidden;
  height: 34px;
  position: absolute;
  right: 34px;
  width: 58px;
  padding-left: 12px;
  line-height: 34px;
  background: #3da700;
  color: #fff;
  display: none;
}
#fiex .wm-toolbar-top {
  width: 18px;
  height: 88px;
  padding: 10px 8px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  top: 176.5px;
  position: absolute;
  left: 0;
  color: #fff;
  font: 12px/1.2 "Microsoft YaHei";
}
#fiex .wm-toolbar-top em {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../../img/index.png) no-repeat;
  background-position: -74px 5px;
}
#fiex .wm-toolbar-top span {
  display: inline-block;
  height: 16px;
  margin: 8px auto 0;
  padding: 0 3px;
  line-height: 16px;
  border-radius: 3px;
  background: #3da700;
  color: #fff;
}

#homePage {
  position: relative;
  overflow: hidden;
}
#homePage .add_t_wrap {
  overflow: hidden;
}
#homePage .add_t_wrap a {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}
#homePage .add_t_wrap a img {
  position: relative;
  display: block;
}
#homePage .add_two a {
  height: 0;
}
#homePage .add_one a {
  height: 100%;
}
#homePage .site_nav {
  z-index: 10;
  height: 32px;
  background-color: #f5f5f5;
}
#homePage .site_nav .site_nav_cot {
  margin: 0 auto;
  line-height: 32px;
  width: 1210px;
}
#homePage .site_nav .site_nav_cot .navr li {
  margin-right: 0;
  padding: 0 10px 0 11px;
}
#homePage .site_nav .site_nav_cot .navr .line {
  margin: 0 -10px;
  color: #e3dde3;
}
#homePage .site_nav .site_nav_cot .navr .backexchange {
  overflow: hidden;
}
#homePage .site_nav .site_nav_cot .navr .backexchange .backexchange_one {
  background: url(../../img/index.png) no-repeat 0 0;
}
#homePage .site_nav .site_nav_cot .navr .backexchange .backexchange_two {
  background: url(../../img/index.png) no-repeat 0 -20px;
}
#homePage .site_nav .site_nav_cot .navr .backexchange span {
  width: 43px;
  height: 15px;
  margin: 8px 0 0 12px;
  display: inline-block;
  float: left;
}
#homePage .site_nav .site_nav_cot .navr .cart a:after {
  content: "";
  display: block;
  float: left;
  width: 11px;
  height: 11px;
  margin: 10px 3px 0 0;
  background: url(../../img/index.png) no-repeat -78px 0;
}
#homePage .site_nav .site_nav_cot .navr .cart a b {
  font-weight: normal;
  color: #3a9900;
}
#homePage .site_nav .site_nav_cot .navr .mycount {
  position: relative;
  z-index: 1000;
  height: 32px;
  padding: 0;
}
#homePage .site_nav .site_nav_cot .navr .mycount .myaccount_cont {
  position: absolute;
  width: 184px;
  top: 30px;
  left: 0;
  border: 1px solid #3a9900;
  padding: 5px;
  background-color: #fff;
  z-index: 101;
  display: none;
}
#homePage .site_nav .site_nav_cot .navr .mycount .myaccount_cont ul .bg_ccc {
  background-color: #f2f2f2;
}
#homePage .site_nav .site_nav_cot .navr .mycount .myaccount_cont .item li {
  float: left;
  width: 92px;
  padding: 0;
  cursor: pointer;
}
#homePage .site_nav .site_nav_cot .navr .mycount .myaccount_cont .login {
  padding-left: 7px;
  color: #999;
}
#homePage .site_nav .site_nav_cot .navr .mycount .myaccount_cont .login span {
  float: left;
  width: 86px;
  overflow: hidden;
}
#homePage .site_nav .site_nav_cot .navr .mycount .myaccount_cont .login a {
  margin-left: 7px;
  color: #098a00;
}
#homePage .site_nav .site_nav_cot .navr .mycount .myaccount_none {
  width: 72px;
  text-align: center;
}
#homePage .site_nav .site_nav_cot .navr .mycount .myaccount_none li {
  text-align: center;
  cursor: pointer;
}
#homePage .site_nav .site_nav_cot .navr .mycount .display_block {
  display: block;
}
#homePage .site_nav .site_nav_cot .navr .mycount p {
  position: relative;
}
#homePage .site_nav .site_nav_cot .navr .mycount p .text {
  position: relative;
  z-index: 103;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 20px 0 14px;
  border: 1px solid transparent;
  cursor: pointer;
  float: left;
  width: auto;
}
#homePage .site_nav .site_nav_cot .navr .mycount p .text .png {
  display: inline-block;
  width: 6px;
  height: 3px;
  margin: 15px 0 0 5px;
  vertical-align: middle;
  background: url(../../img/index.png) no-repeat -92px 0;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: 5px;
}
#homePage .site_nav .site_nav_cot .navr .mycount p .cur {
  border-color: #3a9900;
  border-bottom-color: #fff;
  background: #fff;
}
#homePage .site_nav .site_nav_cot > ul:nth-child(1) {
  position: relative;
  z-index: 100;
  padding-left: 15px;
  background: url(../../img/index.png) no-repeat -101px 0;
}
#homePage .site_nav .site_nav_cot > ul:nth-child(1) .site_like {
  position: relative;
  z-index: 11111;
}
#homePage .site_nav .site_nav_cot > ul:nth-child(1) .site_like span {
  position: relative;
  z-index: 3;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 20px 0 14px;
  border: 1px solid #f5f5f5;
  cursor: pointer;
}
#homePage .site_nav .site_nav_cot > ul:nth-child(1) .site_like span i {
  display: inline-block;
  width: 6px;
  position: absolute;
  height: 3px;
  margin: 15px 0 0 5px;
  vertical-align: middle;
  background: url(../../img/index.png) no-repeat -92px 0;
  overflow: hidden;
  top: -3px;
  right: 8px;
}
#homePage .site_nav .site_nav_cot > ul:nth-child(1) .site_like .site_like_span {
  background: #fff;
  border: 1px solid #3a9900;
  border-bottom: 1px solid #fff;
}
#homePage .site_nav .site_nav_cot > ul:nth-child(1) .site_cont {
  position: absolute;
  top: 31px;
  left: 81px;
  z-index: 10000;
  width: 282px;
  border: 1px solid #3a9900;
  padding: 6px 12px 6px 15px;
  background: #fff;
  color: #757575;
  display: none;
}
#homePage .site_nav .site_nav_cot > ul:nth-child(1) .site_cont p {
  height: 34px;
  line-height: 34px;
}
#homePage .site_nav .site_nav_cot > ul:nth-child(1) .site_cont p span {
  color: #000;
  font-weight: bold;
}
#homePage .site_nav .site_nav_cot > ul:nth-child(1) .site_cont .hot-city {
  margin-bottom: 6px;
  overflow: hidden;
}
#homePage .site_nav .site_nav_cot > ul:nth-child(1) .site_cont .hot-city .abridge-subcity {
  display: none;
}
#homePage .site_nav .site_nav_cot > ul:nth-child(1) .site_cont .hot-city .abridge-city {
  margin-top: 16px;
  margin-bottom: 5px;
  padding: 10px 0;
  background: #f5f5f5;
  overflow: hidden;
}
#homePage .site_nav .site_nav_cot > ul:nth-child(1) .site_cont .hot-city .abridge-city .abridge {
  width: 29px;
  text-align: right;
  vertical-align: text-top;
  line-height: 24px;
}
#homePage .site_nav .site_nav_cot > ul:nth-child(1) .site_cont .hot-city .abridge-city .city-name {
  width: 250px;
  float: left;
  line-height: 24px;
  vertical-align: text-top;
}
#homePage .site_nav .site_nav_cot > ul:nth-child(1) .site_cont .hot-city .abridge-city .city-name span {
  float: left;
  width: 50px;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  box-sizing: border-box;
  display: inline-block;
  padding: 0 7px;
  text-decoration: none;
  cursor: pointer;
}
#homePage .site_nav .site_nav_cot > ul:nth-child(1) .site_cont .hot-city .hot-citys {
  width: 60px;
  float: left;
  line-height: 20px;
}
#homePage .site_nav .site_nav_cot > ul:nth-child(1) .site_cont .hot-city .hot-city-name {
  width: 220px;
  margin-left: 2px;
  float: left;
  line-height: 20px;
}
#homePage .site_nav .site_nav_cot > ul:nth-child(1) .site_cont .hot-city .hot-city-name span {
  display: inline-block;
  float: left;
  width: 44px;
  height: 18px;
  line-height: 18px;
  margin: 1px 0;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}
#homePage .site_nav .site_nav_cot > ul:nth-child(1) .site_cont .hot-city .site-input {
  height: 27px;
  line-height: 27px;
}
#homePage .site_nav .site_nav_cot > ul:nth-child(1) .site_cont .hot-city .site-input .site-input-city {
  display: none;
}
#homePage .site_nav .site_nav_cot > ul:nth-child(1) .site_cont .hot-city .site-input b {
  position: relative;
  float: left;
  height: 25px;
  padding: 0 10px;
  margin-right: 8px;
  border: 1px solid #d2d2d2;
  cursor: pointer;
  width: 80px;
  display: inline-block;
}
#homePage .site_nav .site_nav_cot > ul:nth-child(1) .site_cont .hot-city .site-input b s {
  position: absolute;
  top: 7px;
  left: 60px;
  width: 23px;
  height: 8px;
  background: url(../../img/index.png) no-repeat 13px -40px;
}
#homePage .site_nav .site_nav_cot > ul:nth-child(1) .site_cont .hot-city .site-input .cur {
  border-color: #3a9900;
}
#homePage .site_nav .site_nav_cot > ul:nth-child(1) .display_block {
  display: block;
}
#homePage .site_nav .site_nav_cot > ul:nth-child(1) .bg_green {
  background: green;
  color: #fff;
}
#homePage .site_nav .site_nav_cot > ul > li {
  float: left;
  margin-right: 20px;
}
#homePage .header {
  width: 100%;
  z-index: 5;
  margin: 35px auto 30px;
}
#homePage .header .head_width {
  width: 1210px;
  margin: 0 auto;
}
#homePage .header .head_width .logo {
  width: 220px;
  height: 86px;
}
#homePage .header .head_width .search_wrap {
  width: 625px;
  margin: 12px 0 0 48px;
}
#homePage .header .head_width .search_wrap .search_c {
  float: left;
  width: 584px;
  height: 38px;
  border: 2px solid #c30000;
}
#homePage .header .head_width .search_wrap .search_c .search_form {
  position: relative;
}
#homePage .header .head_width .search_wrap .search_c .search_form::after {
  content: '';
  position: absolute;
  top: 11px;
  left: 10px;
  display: block;
  width: 16px;
  height: 16px;
  background: url(../../img/index.png) no-repeat -69px -24px;
}
#homePage .header .head_width .search_wrap .search_c .search_form .search_ipt {
  width: 450px;
  height: 36px;
  padding-left: 32px;
  font: 14px/36px;
  color: #bbb;
  border: none;
}
#homePage .header .head_width .search_wrap .search_c .search_btn {
  width: 100px;
  height: 38px;
}
#homePage .header .head_width .search_wrap .search_c .search_btn .submit {
  width: 100px;
  height: 38px;
  font: 18px;
  color: #fff;
  background-color: #c30000;
  border: none;
  cursor: pointer;
}
#homePage .header .head_width .search_wrap .search_r {
  margin-top: 2px;
  float: right;
  line-height: 16px;
  color: #999;
  font-size: 14px;
}
#homePage .header .head_width .search_wrap .search_r a {
  color: #606060;
}
#homePage .header .head_width .search_wrap .search_b {
  height: 18px;
  padding-top: 8px;
  clear: both;
  overflow: hidden;
}
#homePage .header .head_width .search_wrap .search_b a {
  margin-right: 18px;
  color: #757575;
}
#homePage .header .head_width .app {
  width: 160px;
  height: 80px;
}
#homePage .xd {
  position: fixed;
  top: 0;
  margin: 0;
  height: 0;
  z-index: 111;
  overflow: hidden;
  padding-bottom: 0px;
  background: url(../../img/hbg.png) repeat-x bottom;
}
#homePage .xd .app2 {
  margin-top: 18px;
  width: 174px;
  line-height: 23px;
  font-size: 16px;
  color: #c30000;
  font-weight: bold;
}
#homePage .xd .app2 span {
  font-size: 14px;
}
#homePage .main_nav_wrap {
  position: relative;
  height: 46px;
  border-bottom: 2px solid #318700;
}
#homePage .main_nav_wrap .all_kinds {
  position: absolute;
  top: 2px;
  left: 0;
  z-index: 2;
}
#homePage .main_nav_wrap .all_kinds .head {
  width: 210px;
  height: 46px;
  line-height: 46px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  background-color: #2d8800;
}
#homePage .main_nav_wrap .all_kinds .cont {
  position: relative;
  width: 210px;
  height: 410px;
  padding: 12px 0 28px 0;
  background-color: #3ea600;
}
#homePage .main_nav_wrap .all_kinds .cont .kinds {
  float: left;
  height: 39px;
  width: 100%;
}
#homePage .main_nav_wrap .all_kinds .cont .kinds .title {
  width: 172px;
  height: 32px;
  padding: 0 19px 0 19px;
  line-height: 32px;
  font-size: 14px;
  overflow: hidden;
}
#homePage .main_nav_wrap .all_kinds .cont .kinds .title b {
  background: url(http://pic2.womai.com/upload/backend/2019/02/19/17/1550569592313.png);
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  margin: 6px 16px 0 0;
  background-position: 0 0;
}
#homePage .main_nav_wrap .all_kinds .cont .kinds .title a {
  font-weight: normal;
  color: #fff;
  margin-right: 2px;
  font-size: 14px;
}
#homePage .main_nav_wrap .all_kinds .cont .kinds .sub_kinds {
  position: absolute;
  top: 0px;
  left: 209px;
  z-index: 30;
  display: none;
  width: 757px;
  height: 419px;
  padding: 30px 15px 0 15px;
  border-right: 1px solid #3a9900;
  border-bottom: 1px solid #3a9900;
  background-color: #fff;
  overflow-y: auto;
}
#homePage .main_nav_wrap .all_kinds .cont .kinds .sub_kinds .kinds-box {
  position: relative;
  width: 757px;
  height: 419px;
  overflow: hidden;
}
#homePage .main_nav_wrap .all_kinds .cont .kinds .sub_kinds .kinds-box .c_kinds {
  position: absolute;
  left: 0;
  top: 0;
}
#homePage .main_nav_wrap .all_kinds .cont .kinds .sub_kinds .kinds-box .c_kinds h4 {
  position: relative;
  float: left;
  width: 86px;
  height: 22px;
  font-size: 13px;
  line-height: 22px;
  font-weight: bold;
  color: #333;
  padding: 6px 20px 6px 0;
  text-align: right;
}
#homePage .main_nav_wrap .all_kinds .cont .kinds .sub_kinds .kinds-box .c_kinds .c_kinds_ul {
  float: left;
  width: 580px;
  line-height: 30px;
  overflow: hidden;
  zoom: 1;
  padding-top: 6px;
  padding-bottom: 9px;
  margin-bottom: 3px;
  border-bottom: 1px solid #eaeaea;
}
#homePage .main_nav_wrap .all_kinds .cont .kinds .sub_kinds .kinds-box .c_kinds .c_kinds_ul li {
  float: left;
  /* width: 100px; */
  height: 16px;
  margin: 5px 0;
  line-height: 16px;
  padding: 0 8px;
  border-left: 1px solid #dedede;
}
#homePage .main_nav_wrap .all_kinds .cont .kinds .sub_kinds .kinds-box .c_kinds .c_kinds_ul li a {
  color: #757575;
}
#homePage .main_nav_wrap .all_kinds .cont .bg_fff {
  background: #fff;
}
#homePage .main_nav_wrap .all_kinds .cont .bg_fff h3 a {
  color: #3a9900 !important;
}
#homePage .main_nav_wrap .nav_v .nav {
  width: 760px;
  height: 46px;
  padding-left: 219px;
}
#homePage .main_nav_wrap .nav_v .nav li {
  position: relative;
  float: left;
  white-space: nowrap;
}
#homePage .main_nav_wrap .nav_v .nav li a {
  display: inline-block;
  height: 38px;
  margin: 5px 0 3px 0px;
  padding: 0 11px;
  font: 16px/38px "Microsoft YaHei";
  text-align: center;
  color: #383838;
}
#homePage .main_nav_wrap .min_cart {
  right: 0;
  z-index: 100;
}
#homePage .main_nav_wrap .min_cart .cart_btn {
  display: inline;
  position: absolute;
  top: -3px;
  right: 0px;
  width: 180px;
  padding: 9px 10px 16px;
  margin: 5px 1px 1px;
  line-height: 22px;
  text-align: center;
  color: #098A00;
  cursor: pointer;
  border: 1px solid transparent;
}
#homePage .main_nav_wrap .min_cart .cart_btn .cart_img {
  display: inline-block;
  width: 27px;
  height: 20px;
  vertical-align: middle;
  position: relative;
  background: url(../../img/index.png) no-repeat -47px 0;
}
#homePage .main_nav_wrap .min_cart .cart_btn .cart_img i {
  position: absolute;
  left: 10px;
  top: -15px;
  width: 25px;
  height: 20px;
  font: 12px/16px;
  background: url(../../img/index.png) no-repeat -10px -40px;
  text-align: center;
  font-style: normal;
  color: #fff;
  overflow: hidden;
}
#homePage .main_nav_wrap .min_cart .cart_btn .cart_img span {
  color: #fff;
  position: absolute;
  top: -16px;
  left: 18px;
  font-size: 16px;
  display: block;
}
#homePage .main_nav_wrap .min_cart .cart_btn .cart_text {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  margin-left: 15px;
  font-size: 14px;
  color: #383838;
}
#homePage .main_nav_wrap .min_cart .cart_btn .cart_ico {
  float: right;
  width: 10px;
  height: 6px;
  margin: 10px 18px 0 5px;
  background: url(../../img/index.png) no-repeat 0 -40px;
  overflow: hidden;
}
#homePage .main_nav_wrap .min_cart .cart_btn .cart_ico2 {
  background: url(../../img/index.png) no-repeat 0 -35px;
}
#homePage .main_nav_wrap .min_cart .cart_cont {
  position: absolute;
  top: 48px;
  right: 0px;
  z-index: 104;
  width: 343px;
  padding: 15px 0px 8px 15px;
  background-color: #fff;
  border: 1px solid #3a9901;
  overflow: hidden;
  text-align: center;
  display: none;
}
#homePage .main_nav_wrap .min_cart .cart_cont div span {
  display: inline-block;
  width: 100%;
  height: 46px;
  margin-bottom: 6px;
}
#homePage .main_nav_wrap .min_cart .cart_cont div a {
  display: inline-block;
  width: 100%;
  color: #c40000;
}
#homePage .bannar {
  width: 100%;
  overflow: hidden;
  background: url(../../img/selfrollbk_0505.png);
  background-size: 100%;
}
#homePage .bannar .bannar_con {
  position: relative;
  left: 0;
  width: 100%;
  height: 450px;
  margin: 0 auto;
  overflow: hidden;
}
#homePage .bannar .bannar_con .swiper-container {
  width: 800px;
  height: 450px;
  margin: 0 auto;
  top: 0;
  overflow: hidden;
}
#homePage .bannar .bannar_con .swiper-container a {
  display: block;
  width: 800px;
  height: 450px;
  text-align: center;
  padding-left: 10px;
  margin: 0 auto;
}
#homePage .bannar .bannar_con .swiper-container .i1 {
  background: url(../../img/ban1) center top no-repeat;
}
#homePage .bannar .bannar_con .swiper-container .i2 {
  background: url(../../img/ban2) center top no-repeat;
}
#homePage .bannar .bannar_con .swiper-container .i3 {
  background: url(../../img/ban3) center top no-repeat;
}
#homePage .bannar .bannar_con .swiper-container .i4 {
  background: url(../../img/ban4) center top no-repeat;
}
#homePage .bannar .bannar_con .swiper-container .i5 {
  background: url(../../img/ban5) center top no-repeat;
}
#homePage .bannar .bannar_con .swiper-container .i6 {
  background: url(../../img/ban6) center top no-repeat;
}
#homePage .bannar .bannar_con .swiper-container .i7 {
  background: url(../../img/ban7) center top no-repeat;
}
#homePage .bannar .bannar_con .swiper-container .jiantou {
  display: none;
  width: 28px;
  height: 62px;
  font: 400 22px/62px simsun;
  color: #fff;
  text-align: center;
  background: url(../../img/lr.png) no-repeat;
  background-size: cover;
  text-decoration: none;
  pointer-events: auto;
}
#homePage .bannar .bannar_con .swiper-container .jiantou:nth-child(2) {
  background-position-x: -10px;
}
#homePage .bannar .bannar_con .swiper-container .jiantou:nth-child(3) {
  background-position-x: -60px;
}
#homePage .bannar .bannar_con .swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 21px;
  height: 21px;
}
#homePage .bannar .bannar_con .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background: #3a9900;
}
#homePage .cont_w {
  position: relative;
}
#homePage .cont_w .cont_r {
  position: absolute;
  top: -455px;
  right: 5px;
  width: 200px;
  height: 450px;
  margin-top: 5px;
  background: #fff;
}
#homePage .cont_w .cont_r .r_title {
  position: absolute;
  width: 202px;
  overflow: hidden;
}
#homePage .cont_w .cont_r .r_title .r_cur {
  width: 67px;
  padding: 0;
  color: #0D8700;
  border-bottom: 2px solid #2d8800;
  background-color: #fff;
}
#homePage .cont_w .cont_r .r_title li {
  float: left;
  width: 65px;
  height: 29px;
  padding: 0 1px;
  line-height: 29px;
  color: #3c3c3c;
  text-align: center;
  border-bottom: 2px solid #fff;
  background-color: #F7F7F7;
  cursor: pointer;
}
#homePage .cont_w .cont_r .r_warp {
  padding: 35px 16px 6px;
  height: 75px;
}
#homePage .cont_w .cont_r .r_warp > li {
  display: none;
  padding: 7px 0;
  overflow: hidden;
  zoom: 1;
}
#homePage .cont_w .cont_r .r_warp > li ul > li {
  padding-left: 3px;
  height: 21px;
  line-height: 21px;
  overflow: hidden;
}
#homePage .cont_w .cont_r .r_warp .r_list {
  display: list-item;
}
#homePage .cont_w .cont_r .lead_btn_wrap {
  width: 201px;
  border-top: 1px solid #ddd;
  overflow: hidden;
}
#homePage .cont_w .cont_r .lead_btn_wrap li {
  float: left;
  width: 66px;
  height: 60px;
  border-bottom: 1px dotted #ddd;
  border-right: 1px dotted #ddd;
  overflow: hidden;
  text-align: center;
}
#homePage .cont_w .cont_r .lead_btn_wrap li .i1 {
  background: url(../../img/lead_btn_wrap1) center top no-repeat;
  display: block;
  width: 67px;
  height: 61px;
}
#homePage .cont_w .cont_r .lead_btn_wrap li .i2 {
  background: url(../../img/lead_btn_wrap2) center top no-repeat;
  display: block;
  width: 67px;
  height: 61px;
}
#homePage .cont_w .cont_r .lead_btn_wrap li .i3 {
  background: url(../../img/lead_btn_wrap3) center top no-repeat;
  display: block;
  width: 67px;
  height: 61px;
}
#homePage .cont_w .cont_r .lead_btn_wrap li .i4 {
  background: url(../../img/lead_btn_wrap4) center top no-repeat;
  display: block;
  width: 67px;
  height: 61px;
}
#homePage .cont_w .cont_r .lead_btn_wrap li .i5 {
  background: url(../../img/lead_btn_wrap5) center top no-repeat;
  display: block;
  width: 67px;
  height: 61px;
}
#homePage .cont_w .cont_r .lead_btn_wrap li .i6 {
  background: url(../../img/lead_btn_wrap6) center top no-repeat;
  display: block;
  width: 67px;
  height: 61px;
}
#homePage .cont_w .cont_r .lead_btn_wrap li .i7 {
  background: url(../../img/lead_btn_wrap7) center top no-repeat;
  display: block;
  width: 67px;
  height: 61px;
}
#homePage .cont_w .cont_r .lead_btn_wrap li .i8 {
  background: url(../../img/lead_btn_wrap8) center top no-repeat;
  display: block;
  width: 67px;
  height: 61px;
}
#homePage .cont_w .cont_r .lead_btn_wrap li .i9 {
  background: url(../../img/lead_btn_wrap9) center top no-repeat;
  display: block;
  width: 67px;
  height: 61px;
}
#homePage .cont_w .cont_r .add_b {
  width: 200px;
  height: 148px;
  margin: 0;
}
#homePage .selfactive {
  width: 100%;
  height: 800px;
  background: url(../../img/xuanze.png) center no-repeat;
}
#homePage .selfactive .sft_cont {
  height: 547px;
  padding-top: 205px;
  margin-left: -605px;
  left: 50%;
  display: block;
  position: absolute;
}
#homePage .selfactive .sft_cont .sft_left {
  height: 547px;
  float: left;
}
#homePage .selfactive .sft_cont .sft_right {
  position: absolute;
  left: 228px;
}
#homePage .selfactive .sft_cont .sft_right a > img {
  padding: 3px;
  float: left;
}
#homePage .selfactive .sft_cont .sft_foot {
  position: absolute;
  bottom: 0;
  right: 0;
}
#homePage .recommend {
  width: 100%;
}
#homePage .recommend .recommend-pro {
  margin-top: 6px;
  font-family: "微软雅黑";
  overflow: hidden;
}
#homePage .recommend .recommend-pro h2 {
  height: 46px;
  font-weight: normal;
  line-height: 46px;
  border-bottom: 2px solid #4bae00;
  overflow: hidden;
}
#homePage .recommend .recommend-pro h2 span {
  font-size: 20px;
  color: #383838;
  vertical-align: middle;
}
#homePage .recommend .recommend-pro h2 i {
  margin-left: 20px;
  padding: 14px 0;
  vertical-align: middle;
}
#homePage .recommend .recommend-pro h2 i img {
  width: 216px;
  height: 18px;
  margin-top: 14px;
}
#homePage .recommend .recommend-pro .adv1 {
  height: 420px;
}
#homePage .recommend .recommend-pro .adv1 li {
  float: left;
}
#homePage .recommend .recommend-pro .pr {
  position: relative;
  padding-right: 0px;
  border-right: 0px solid #ededed;
  overflow: hidden;
  height: 320px;
}
#homePage .recommend .recommend-pro .pr .w2420 {
  width: 2420px;
  position: absolute;
  float: left;
  left: 0;
  height: 320px;
  overflow: hidden;
}
#homePage .recommend .recommend-pro .pr .w2420 li {
  float: left;
  width: 242px;
  height: 320px;
  overflow: hidden;
}
#homePage .recommend .recommend-pro .pr .w2420 li img {
  position: relative;
  width: 252px;
  height: 320px;
}
#homePage .recommend .recommend-pro .pr .w2420 li:nth-child(1) {
  position: relative;
  width: 484px;
  height: 320px;
  overflow: hidden;
}
#homePage .recommend .recommend-pro .pr .w2420 li:nth-child(1) img {
  position: relative;
  width: 494px;
  height: 320px;
}
#homePage .recommend .recommend-pro .pr .btn {
  background: url(../../img/lr.png) no-repeat;
  display: none;
  position: absolute;
  top: 138px;
  z-index: 20;
  width: 32px;
  height: 38px;
  opacity: 0.8;
  cursor: pointer;
}
#homePage .recommend .recommend-pro .pr .prevbtn {
  left: 0;
  background-position: 0 0;
}
#homePage .recommend .recommend-pro .pr .nextbtn {
  right: 5px;
  background-position: -32px 0;
}
#homePage .recommend .recommend-pro .floor-adv {
  margin-top: 30px;
  overflow: hidden;
}
#homePage .recommend .recommend-pro .floor-adv ul > li {
  float: left;
  width: 403px;
  height: 110px;
  overflow: hidden;
}
#homePage .recommend .rmd_cont > .madden-pro {
  position: relative;
  overflow: hidden;
}
#homePage .recommend .rmd_cont > .madden-pro .verticaImg {
  float: left;
  height: 320px;
  position: relative;
  width: 242px;
}
#homePage .recommend .rmd_cont > .madden-pro .verticaImg .img1 {
  height: 400px;
  left: -242px;
  display: none;
  position: absolute;
  width: 242px;
}
#homePage .recommend .rmd_cont > .madden-pro .verticaImg .img2 > img {
  height: 320px;
  width: 242px;
}
#homePage .recommend .rmd_cont > .madden-pro .verticabox {
  position: relative;
  float: right;
  width: 972px;
  height: 320px;
  margin-right: -5px;
  overflow: hidden;
}
#homePage .recommend .rmd_cont > .madden-pro .verticabox ul {
  position: absolute;
  height: 320px;
  overflow: hidden;
  width: 1942px;
  left: 0px;
}
#homePage .recommend .rmd_cont > .madden-pro .verticabox ul li {
  position: relative;
  float: left;
  width: 238px;
  height: 320px;
  border-right: 5px solid #ededed;
}
#homePage .recommend .rmd_cont > .madden-pro .verticabox ul li .imgChange {
  display: block;
  width: 238px;
  height: 220px;
  overflow: hidden;
}
#homePage .recommend .rmd_cont > .madden-pro .verticabox ul li .imgChange img {
  height: 180px;
  width: 180px;
  margin: 20px 0 0 29px;
  transition: all 1s;
}
#homePage .recommend .rmd_cont > .madden-pro .verticabox ul li .imgChange .img2 {
  transform: scale(1.3);
}
#homePage .recommend .rmd_cont > .madden-pro .verticabox ul li .inforBox {
  width: 203px;
  height: 80px;
  padding: 10px 17px 10px 18px;
  background: #f1f7f4;
  overflow: hidden;
}
#homePage .recommend .rmd_cont > .madden-pro .verticabox ul li .inforBox .textBt a {
  font-size: 16px;
  color: #383838;
}
#homePage .recommend .rmd_cont > .madden-pro .verticabox ul li .inforBox p {
  width: 100%;
  height: 23px;
  line-height: 23px;
  font-size: 14px;
  overflow: hidden;
}
#homePage .recommend .rmd_cont > .madden-pro .verticabox ul li .inforBox .buy-btn span {
  line-height: 30px;
  font-size: 20px;
  color: #de0801;
}
#homePage .recommend .rmd_cont > .madden-pro .verticabox ul li .inforBox .buy-btn a {
  float: right;
  width: 80px;
  height: 28px;
  margin-top: 2px;
  line-height: 26px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  background: #FF870F;
  overflow: hidden;
}
#homePage .recommend .rmd_cont > .madden-pro .verticabox .btn {
  background: url(../../img/lr.png) no-repeat;
  display: none;
  position: absolute;
  top: 91px;
  z-index: 20;
  width: 32px;
  height: 38px;
  opacity: 0.8;
  cursor: pointer;
}
#homePage .recommend .rmd_cont > .madden-pro .verticabox .prevbtn {
  left: 0;
  background-position: 0 0;
}
#homePage .recommend .rmd_cont > .madden-pro .verticabox .nextbtn {
  right: 5px;
  background-position: -32px 0;
}
#homePage .floor {
  margin-top: 14px;
  font-family: "微软雅黑";
}
#homePage .floor > div {
  float: left;
}
#homePage .floor .floor-l {
  width: 242px;
}
#homePage .floor .floor-l h3 {
  font-family: Microsoft YaHei;
  position: relative;
  height: 38px;
  padding-left: 15px;
  font-weight: normal;
  font-size: 20px;
  line-height: 38px;
}
#homePage .floor .floor-l h3:after {
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  width: 5px;
  height: 20px;
}
#homePage .floor .floor-l .con {
  position: relative;
  padding-top: 50px;
}
#homePage .floor .floor-l .con span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 56px;
  height: 20px;
  padding: 10px 0 34px 8px;
  line-height: 20px;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
#homePage .floor .floor-l .con ul {
  width: 200px;
  height: 110px;
  padding-bottom: 9px;
  margin-left: 21px;
}
#homePage .floor .floor-l .con ul li {
  position: relative;
  float: left;
  width: 75px;
  height: 36px;
  padding-left: 25px;
  font-size: 14px;
  line-height: 36px;
  overflow: hidden;
}
#homePage .floor .floor-l .con ul li > .i1 {
  background: url(../../img/i1);
}
#homePage .floor .floor-l .con ul li > .i2 {
  background: url(../../img/i2);
}
#homePage .floor .floor-l .con ul li > .i3 {
  background: url(../../img/i3);
}
#homePage .floor .floor-l .con ul li > .i4 {
  background: url(../../img/i4);
}
#homePage .floor .floor-l .con ul li > .i5 {
  background: url(../../img/i5);
}
#homePage .floor .floor-l .con ul li > .i6 {
  background: url(../../img/i6);
}
#homePage .floor .floor-l .con ul li i {
  position: absolute;
  top: 7px;
  left: 0;
  display: block;
  width: 22px;
  height: 22px;
}
#homePage .floor .floor-l .con .verticaImg {
  float: left;
  height: 335px;
  position: relative;
  width: 242px;
}
#homePage .floor .floor-l .con .verticaImg .img1 {
  height: 400px;
  left: -242px;
  display: none;
  position: absolute;
  width: 242px;
}
#homePage .floor .floor-l .con .verticaImg .img2 > img {
  height: 335px;
  width: 242px;
}
#homePage .floor .floor-r {
  width: 968px;
}
#homePage .floor .floor-r .tit {
  height: 36px;
  margin: 0 0 2px 30px;
  font-size: 16px;
  line-height: 36px;
  color: #434343;
}
#homePage .floor .floor-r .tit li {
  float: left;
  height: 36px;
  margin-right: 30px;
  padding: 0 5px;
  text-align: center;
  color: #383838;
  overflow: hidden;
  border-bottom: 2px transparent solid;
}
#homePage .floor .floor-r .tit .tit_cur {
  border-bottom: 2px solid #a1c0f6;
}
#homePage .floor .floor-r .con {
  width: 968px;
  height: 503px;
  position: relative;
  display: none;
  border-top: 1px solid #88A9E2;
}
#homePage .floor .floor-r .con .adv {
  position: absolute;
  top: 0;
  left: 242px;
  width: 482px;
  height: 250px;
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  overflow: hidden;
}
#homePage .floor .floor-r .con .adv .jiantou {
  display: none;
  width: 28px;
  height: 62px;
  font: 400 22px/62px simsun;
  color: #fff;
  text-align: center;
  background: url(../../img/lr.png) no-repeat;
  background-size: cover;
  text-decoration: none;
  pointer-events: auto;
}
#homePage .floor .floor-r .con .adv .jiantou:nth-child(2) {
  background-position-x: -10px;
}
#homePage .floor .floor-r .con .adv .jiantou:nth-child(3) {
  background-position-x: -60px;
}
#homePage .floor .floor-r .con ul {
  overflow: auto;
}
#homePage .floor .floor-r .con ul li {
  float: left;
  width: 241px;
  height: 250px;
  border-bottom: 1px solid #ededed;
  border-right: 1px solid #ededed;
  overflow: hidden;
}
#homePage .floor .floor-r .con ul li a {
  width: 240px;
  height: 190px;
  text-align: center;
  display: block;
}
#homePage .floor .floor-r .con ul li a img {
  position: relative;
  left: 0;
  width: 180px;
  height: 180px;
  margin: 0 auto;
  margin-top: 6px;
}
#homePage .floor .floor-r .con ul li .name {
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  color: #383838;
  cursor: pointer;
}
#homePage .floor .floor-r .con ul li p {
  width: 200px;
  margin-left: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}
#homePage .floor .floor-r .con ul li .price {
  height: 26px;
  font-size: 14px;
  line-height: 26px;
  color: #dd0800;
}
#homePage .floor .floor-r .con ul li .price .bold {
  font-size: 20px;
}
#homePage .floor .floor-r .tab .transparency_wrap .first {
  margin-right: 484px;
}
#homePage .floor1 .floor-l h3 {
  color: #88A9E2;
}
#homePage .floor1 .floor-l h3:after {
  background: #88A9E2;
}
#homePage .floor1 .floor-l .con {
  background: #88a9e2;
}
#homePage .floor2 .floor-l h3 {
  color: #87D0EB;
}
#homePage .floor2 .floor-l h3:after {
  background: #87D0EB;
}
#homePage .floor2 .floor-l .con {
  background: #87D0EB;
}
#homePage .footer_nav {
  margin-top: 45px;
  border-top: 2px solid #3ea600;
}
#homePage .footer_nav .nav_cont {
  border-left: 1px solid #ededed;
}
#homePage .footer_nav .nav_cont > li {
  float: left;
  width: 240px;
  height: 364px;
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
#homePage .footer_nav .nav_cont > li h3 {
  height: 82px;
  font-weight: bold;
  padding: 0 18px;
  font-size: 16px;
  line-height: 82px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
#homePage .footer_nav .nav_cont > li div {
  text-align: center;
}
#homePage .footer_nav .nav_cont > li div i {
  display: inline-block;
  width: 98px;
  height: 98px;
}
#homePage .footer_nav .nav_cont > li ul {
  height: 125px;
  margin-top: 25px;
  padding-left: 34px;
  overflow: hidden;
}
#homePage .footer_nav .nav_cont > li ul li {
  float: left;
  width: 95px;
  margin-right: 8px;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
}
#homePage .footer {
  margin-top: 45px;
  padding-top: 45px;
  border-top: 2px solid #e7e7e7;
  background: #f7f7f7;
}
#homePage .footer .mode_wrap {
  margin-left: 70px;
  overflow: hidden;
}
#homePage .footer .mode_wrap .mode {
  position: relative;
  float: left;
  width: 144px;
  margin-right: 70px;
}
#homePage .footer .mode_wrap .mode:after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  display: block;
  width: 1px;
  height: 78px;
  background: #e9e9e9;
}
#homePage .footer .mode_wrap .mode h3 {
  height: 26px;
  margin-bottom: 5px;
  line-height: 26px;
  font-size: 16px;
  color: #606060;
  cursor: pointer;
}
#homePage .footer .mode_wrap .mode ul > li {
  height: 24px;
  line-height: 24px;
  color: #606060;
  overflow: hidden;
  cursor: pointer;
}
#homePage .footer .mode_foot {
  width: 284px;
}
#homePage .footer .mode_foot dl {
  float: left;
  position: relative;
  margin-right: 45px;
  width: 86px;
  height: 122px;
}
#homePage .footer .mode_foot dl dt {
  position: absolute;
  top: 0;
  left: -22px;
  width: 130px;
  height: 18px;
  margin-bottom: 18px;
  font-size: 16px;
  color: #c60001;
  text-align: center;
  overflow: hidden;
}
#homePage .footer .mode_foot dl dd {
  position: relative;
  top: 36px;
}
#homePage .footer .about_wrap {
  padding: 25px 0 0 0;
  margin-top: 45px;
  border-top: 2px solid #3ea600;
  background: #fff;
}
#homePage .footer .about_wrap .links {
  height: 22px;
  line-height: 22px;
  color: #989898;
  overflow: hidden;
  margin: 0 auto;
  width: fit-content;
}
#homePage .footer .about_wrap .links li {
  font-size: 14px;
  color: #606060;
  float: left;
  cursor: pointer;
}
#homePage .footer .about_wrap .links li:after {
  content: "|";
  padding: 18px;
}
#homePage .footer .about_wrap .links li:nth-last-child(1) {
  color: red;
}
#homePage .footer .about_wrap .links li:nth-last-child(1):after {
  content: "";
  padding: 18px;
}
#homePage .footer .about_wrap .footer-2019 {
  width: 790px;
  margin: 28px auto 0;
}
#homePage .footer .about_wrap .footer-2019 .pic > a > img {
  width: 200px;
  height: 50px;
  margin-right: 20px;
}
#homePage .footer .about_wrap .footer-2019 .copyright p {
  height: 22px;
  line-height: 22px;
  color: #989898;
  overflow: hidden;
}
#homePage .footer .about_wrap .footer-2019 .copyright p i {
  float: left;
  position: relative;
  width: 20px;
  height: 20px;
  background: url(../../img/beian.png) no-repeat;
  vertical-align: middle;
}
#homePage .footer .about_wrap .footer-2019 .copyright p span {
  vertical-align: middle;
}
#homePage .footer .about_wrap .footer-2019 .foot_img {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
#homePage .footer .about_wrap .footer-2019 .foot_img img {
  display: inline-block;
}

.zhezhao {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 10571px;
  opacity: 0.5;
  background-color: black;
  z-index: 1005;
}

/*# sourceMappingURL=indexaaa.css.map */
