html,
body {
    color: #606060;
    font: 12px/150% Arial, Tahoma, "微软雅黑";
    width: 100%;
    height: 100%;
}

#fiex {
    height: 100%;
    width: 34px;
    position: fixed;
    top: 0;
    right: 0;
    width: 34px;
    background: #000;
    z-index: 9999;

    .wm-toolbar-tab {
        position: absolute;
        left: 0;
        bottom: 0;

        ul>li {
            position: relative;
            height: 34px;
            width: 34px;
            margin-top: 6px;
            line-height: 34px;
            cursor: pointer;

            i {
                width: 34px;
                height: 34px;
                color: #fff;
                display: block;
                text-align: center;
            }

            span {
                overflow: hidden;
                height: 34px;
                position: absolute;
                right: 34px;
                width: 58px;
                padding-left: 12px;
                line-height: 34px;
                background: #3da700;
                color: #fff;
                display: none;
            }
        }
    }

    .wm-toolbar-top {
        width: 18px;
        height: 88px;
        padding: 10px 8px;
        text-align: center;
        overflow: hidden;
        cursor: pointer;
        top: 176.5px;
        position: absolute;
        left: 0;
        color: #fff;
        font: 12px/1.2 "Microsoft YaHei";

        em {
            display: inline-block;
            width: 18px;
            height: 18px;
            background: url(../../img/index.png) no-repeat;
            background-position: -74px 5px;
        }

        span {
            display: inline-block;
            height: 16px;
            margin: 8px auto 0;
            padding: 0 3px;
            line-height: 16px;
            border-radius: 3px;
            background: #3da700;
            color: #fff;
        }
    }
}

#homePage {
    position: relative;
    overflow: hidden;

    //头部动画
    .add_t_wrap {
        overflow: hidden;

        a {
            display: block;
            width: 100%;
            // height: 100%;
            margin: 0 auto;
            text-align: left;

            img {
                position: relative;
                display: block;
                // left: 50%;
                // margin-left: -950px;
            }
        }
    }

    .add_two {
        a {
            height: 0;
        }
    }

    .add_one {
        a {
            height: 100%;
        }
    }

    //位置导航
    .site_nav {
        z-index: 10;
        height: 32px;
        background-color: #f5f5f5;

        .site_nav_cot {
            margin: 0 auto;
            line-height: 32px;
            width: 1210px;

            .navr {
                li {
                    margin-right: 0;
                    padding: 0 10px 0 11px;
                }

                .line {
                    margin: 0 -10px;
                    color: #e3dde3;
                }

                .backexchange {
                    overflow: hidden;

                    .backexchange_one {
                        background: url(../../img/index.png) no-repeat 0 0;
                    }

                    .backexchange_two {
                        background: url(../../img/index.png) no-repeat 0 -20px;
                    }

                    span {
                        width: 43px;
                        height: 15px;
                        margin: 8px 0 0 12px;
                        display: inline-block;
                        float: left;
                    }
                }

                .cart {
                    a {
                        &:after {
                            content: "";
                            display: block;
                            float: left;
                            width: 11px;
                            height: 11px;
                            margin: 10px 3px 0 0;
                            background: url(../../img/index.png) no-repeat -78px 0;
                        }

                        b {
                            font-weight: normal;
                            color: #3a9900;
                        }
                    }
                }

                .mycount {
                    position: relative;
                    z-index: 1000;
                    height: 32px;
                    padding: 0;

                    .myaccount_cont {
                        position: absolute;
                        width: 184px;
                        top: 30px;
                        left: 0;
                        border: 1px solid #3a9900;
                        padding: 5px;
                        background-color: #fff;
                        z-index: 101;
                        display: none;

                        ul {
                            .bg_ccc {
                                background-color: #f2f2f2;
                            }
                        }


                        .item {
                            li {
                                float: left;
                                width: 92px;
                                padding: 0;
                                cursor: pointer;
                            }
                        }

                        .login {
                            padding-left: 7px;
                            color: #999;

                            span {
                                float: left;
                                width: 86px;
                                overflow: hidden;
                            }

                            a {
                                margin-left: 7px;
                                color: #098a00;
                            }
                        }
                    }

                    .myaccount_none {
                        width: 72px;
                        text-align: center;

                        li {
                            text-align: center;
                            cursor: pointer;
                        }
                    }


                    .display_block {
                        display: block;
                    }

                    p {
                        position: relative;

                        .text {
                            position: relative;
                            z-index: 103;
                            display: inline-block;
                            height: 30px;
                            line-height: 30px;
                            padding: 0 20px 0 14px;
                            border: 1px solid transparent;
                            cursor: pointer;
                            float: left;
                            width: auto;

                            .png {
                                display: inline-block;
                                width: 6px;
                                height: 3px;
                                margin: 15px 0 0 5px;
                                vertical-align: middle;
                                background: url(../../img/index.png) no-repeat -92px 0;
                                overflow: hidden;
                                position: absolute;
                                top: -3px;
                                right: 5px;
                            }
                        }

                        .cur {
                            border-color: #3a9900;
                            border-bottom-color: #fff;
                            background: #fff;
                        }

                    }
                }
            }

            >ul:nth-child(1) {
                position: relative;
                z-index: 100;
                padding-left: 15px;
                background: url(../../img/index.png) no-repeat -101px 0;


                .site_like {
                    position: relative;
                    z-index: 11111;

                    span {
                        position: relative;
                        z-index: 3;
                        display: inline-block;
                        height: 30px;
                        line-height: 30px;
                        padding: 0 20px 0 14px;
                        border: 1px solid #f5f5f5;
                        cursor: pointer;

                        i {
                            display: inline-block;
                            width: 6px;
                            position: absolute;
                            height: 3px;
                            margin: 15px 0 0 5px;
                            vertical-align: middle;
                            background: url(../../img/index.png) no-repeat -92px 0;
                            overflow: hidden;
                            top: -3px;
                            right: 8px;
                        }
                    }

                    .site_like_span {
                        background: #fff;
                        border: 1px solid #3a9900;
                        border-bottom: 1px solid #fff;
                    }
                }

                .site_cont {
                    position: absolute;
                    top: 31px;
                    left: 81px;
                    z-index: 10000;
                    width: 282px;
                    border: 1px solid #3a9900;
                    padding: 6px 12px 6px 15px;
                    background: #fff;
                    color: #757575;
                    display: none;

                    p {
                        height: 34px;
                        line-height: 34px;

                        span {
                            color: #000;
                            font-weight: bold;
                        }
                    }

                    .hot-city {
                        margin-bottom: 6px;
                        overflow: hidden;

                        .abridge-subcity {
                            display: none;
                        }

                        .abridge-city {
                            margin-top: 16px;
                            margin-bottom: 5px;
                            padding: 10px 0;
                            background: #f5f5f5;
                            overflow: hidden;

                            .abridge {
                                width: 29px;
                                text-align: right;
                                vertical-align: text-top;
                                line-height: 24px;
                            }

                            .city-name {
                                width: 250px;
                                float: left;
                                line-height: 24px;
                                vertical-align: text-top;

                                span {
                                    float: left;
                                    width: 50px;
                                    height: 24px;
                                    line-height: 24px;
                                    overflow: hidden;
                                    box-sizing: border-box;
                                    display: inline-block;
                                    padding: 0 7px;
                                    text-decoration: none;
                                    cursor: pointer;
                                }
                            }
                        }


                        .hot-citys {
                            width: 60px;
                            float: left;
                            line-height: 20px;
                        }



                        .hot-city-name {
                            width: 220px;
                            margin-left: 2px;
                            float: left;
                            line-height: 20px;

                            span {
                                display: inline-block;
                                float: left;
                                width: 44px;
                                height: 18px;
                                line-height: 18px;
                                margin: 1px 0;
                                text-align: center;
                                overflow: hidden;
                                cursor: pointer;
                            }
                        }

                        .site-input {
                            height: 27px;
                            line-height: 27px;

                            .site-input-city {
                                display: none;
                            }

                            b {
                                position: relative;
                                float: left;
                                height: 25px;
                                padding: 0 10px;
                                margin-right: 8px;
                                border: 1px solid #d2d2d2;
                                cursor: pointer;
                                width: 80px;
                                display: inline-block;


                                s {
                                    position: absolute;
                                    top: 7px;
                                    left: 60px;
                                    width: 23px;
                                    height: 8px;
                                    background: url(../../img/index.png) no-repeat 13px -40px;
                                }
                            }

                            .cur {
                                border-color: #3a9900;
                            }




                        }
                    }
                }

                .display_block {
                    display: block;
                }

                .bg_green {
                    background: green;
                    color: #fff;
                }
            }

            >ul>li {
                float: left;
                margin-right: 20px;
            }
        }
    }

    //搜索菜单
    .header {
        // position: absolute;
        // top: -130px;
        width: 100%;
        z-index: 5;
        margin: 35px auto 30px;

        .head_width {
            width: 1210px;
            margin: 0 auto;

            .logo {
                width: 220px;
                height: 86px;
            }

            .search_wrap {
                width: 625px;
                margin: 12px 0 0 48px;

                .search_c {
                    float: left;
                    width: 584px;
                    height: 38px;
                    border: 2px solid #c30000;

                    .search_form {
                        position: relative;

                        &::after {
                            content: '';
                            position: absolute;
                            top: 11px;
                            left: 10px;
                            display: block;
                            width: 16px;
                            height: 16px;
                            background: url(../../img/index.png) no-repeat -69px -24px;
                        }

                        .search_ipt {
                            width: 450px;
                            height: 36px;
                            padding-left: 32px;
                            font: 14px/36px;
                            color: #bbb;
                            border: none;
                        }
                    }

                    .search_btn {
                        width: 100px;
                        height: 38px;

                        .submit {
                            width: 100px;
                            height: 38px;
                            font: 18px;
                            color: #fff;
                            background-color: #c30000;
                            border: none;
                            cursor: pointer;
                        }
                    }
                }

                .search_r {
                    margin-top: 2px;
                    float: right;
                    line-height: 16px;
                    color: #999;
                    font-size: 14px;

                    a {
                        color: #606060;
                    }
                }

                .search_b {
                    height: 18px;
                    padding-top: 8px;
                    clear: both;
                    overflow: hidden;

                    a {
                        margin-right: 18px;
                        color: #757575;
                    }
                }
            }

            .app {
                width: 160px;
                height: 80px;
            }
        }
    }

    //吸顶菜单
    .xd {
        position: fixed;
        top: 0;
        margin: 0;
        height: 0;
        z-index: 111;
        overflow: hidden;
        padding-bottom: 0px;
        background: url(../../img/hbg.png) repeat-x bottom;

        .app2 {
            margin-top: 18px;
            width: 174px;
            line-height: 23px;
            font-size: 16px;
            color: #c30000;
            font-weight: bold;

            span {
                font-size: 14px;
            }
        }
    }

    //渲染的一二级菜单
    .main_nav_wrap {
        position: relative;
        height: 46px;
        border-bottom: 2px solid #318700;
        // z-index: 100;

        .all_kinds {
            position: absolute;
            top: 2px;
            left: 0;
            z-index: 2;

            .head {
                width: 210px;
                height: 46px;
                line-height: 46px;
                color: #fff;
                font-size: 16px;
                text-align: center;
                background-color: #2d8800;
            }

            .cont {
                position: relative;
                width: 210px;
                height: 410px;
                padding: 12px 0 28px 0;
                background-color: #3ea600;



                .kinds {
                    float: left;
                    height: 39px;
                    width: 100%;

                    .title {
                        width: 172px;
                        height: 32px;
                        padding: 0 19px 0 19px;
                        line-height: 32px;
                        font-size: 14px;
                        overflow: hidden;

                        b {
                            background: url(http://pic2.womai.com/upload/backend/2019/02/19/17/1550569592313.png);
                            display: block;
                            float: left;
                            width: 18px;
                            height: 18px;
                            margin: 6px 16px 0 0;
                            background-position: 0 0;
                        }

                        a {
                            font-weight: normal;
                            color: #fff;
                            margin-right: 2px;
                            font-size: 14px;
                        }
                    }

                    .sub_kinds {
                        position: absolute;
                        top: 0px;
                        left: 209px;
                        z-index: 30;
                        display: none;
                        width: 757px;
                        height: 419px;
                        padding: 30px 15px 0 15px;
                        border-right: 1px solid #3a9900;
                        border-bottom: 1px solid #3a9900;
                        background-color: #fff;
                        overflow-y: auto;

                        .kinds-box {
                            position: relative;
                            width: 757px;
                            height: 419px;
                            overflow: hidden;

                            .c_kinds {
                                position: absolute;
                                left: 0;
                                top: 0;

                                h4 {
                                    position: relative;
                                    float: left;
                                    width: 86px;
                                    height: 22px;
                                    font-size: 13px;
                                    line-height: 22px;
                                    font-weight: bold;
                                    color: #333;
                                    padding: 6px 20px 6px 0;
                                    text-align: right;
                                }

                                .c_kinds_ul {
                                    float: left;
                                    width: 580px;
                                    line-height: 30px;
                                    overflow: hidden;
                                    zoom: 1;
                                    padding-top: 6px;
                                    padding-bottom: 9px;
                                    margin-bottom: 3px;
                                    border-bottom: 1px solid #eaeaea;

                                    li {
                                        float: left;
                                        /* width: 100px; */
                                        height: 16px;
                                        margin: 5px 0;
                                        line-height: 16px;
                                        padding: 0 8px;
                                        border-left: 1px solid #dedede;

                                        a {
                                            color: #757575;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .bg_fff {
                    background: #fff;

                    h3 {
                        a {
                            color: #3a9900 !important;
                        }
                    }


                }
            }
        }

        .nav_v {
            .nav {
                width: 760px;
                height: 46px;
                padding-left: 219px;

                li {
                    position: relative;
                    float: left;
                    white-space: nowrap;

                    a {
                        display: inline-block;
                        height: 38px;
                        margin: 5px 0 3px 0px;
                        padding: 0 11px;
                        font: 16px/38px "Microsoft YaHei";
                        text-align: center;
                        color: #383838;
                    }
                }
            }
        }

        .min_cart {
            right: 0;
            z-index: 100;

            .cart_btn {
                display: inline;
                position: absolute;
                top: -3px;
                right: 0px;
                width: 180px;
                padding: 9px 10px 16px;
                margin: 5px 1px 1px;
                line-height: 22px;
                text-align: center;
                color: #098A00;
                cursor: pointer;
                border: 1px solid transparent;

                .cart_img {
                    display: inline-block;
                    width: 27px;
                    height: 20px;
                    vertical-align: middle;
                    position: relative;
                    background: url(../../img/index.png) no-repeat -47px 0;

                    i {
                        position: absolute;
                        left: 10px;
                        top: -15px;
                        width: 25px;
                        height: 20px;
                        font: 12px/16px;
                        background: url(../../img/index.png) no-repeat -10px -40px;
                        text-align: center;
                        font-style: normal;
                        color: #fff;
                        overflow: hidden;
                    }

                    span {
                        color: #fff;
                        position: absolute;
                        top: -16px;
                        left: 18px;
                        font-size: 16px;
                        display: block;
                    }
                }

                .cart_text {
                    display: inline-block;
                    height: 20px;
                    line-height: 20px;
                    vertical-align: middle;
                    margin-left: 15px;
                    font-size: 14px;
                    color: #383838;
                }

                .cart_ico {
                    float: right;
                    width: 10px;
                    height: 6px;
                    margin: 10px 18px 0 5px;
                    background: url(../../img/index.png) no-repeat 0 -40px;
                    overflow: hidden;
                }

                .cart_ico2 {
                    background: url(../../img/index.png) no-repeat 0 -35px;
                }
            }

            .cart_cont {
                position: absolute;
                top: 48px;
                right: 0px;
                z-index: 104;
                width: 343px;
                padding: 15px 0px 8px 15px;
                background-color: #fff;
                border: 1px solid #3a9901;
                overflow: hidden;
                text-align: center;
                display: none;

                div {
                    span {
                        display: inline-block;
                        width: 100%;
                        height: 46px;
                        margin-bottom: 6px;
                    }

                    a {
                        display: inline-block;
                        width: 100%;
                        color: #c40000;
                    }
                }
            }
        }
    }

    //轮播图
    .bannar {
        width: 100%;
        overflow: hidden;
        background: url(../../img/selfrollbk_0505.png);
        background-size: 100%;

        .bannar_con {
            position: relative;
            left: 0;
            width: 100%;
            height: 450px;
            margin: 0 auto;
            overflow: hidden;

            .swiper-container {
                width: 800px;
                height: 450px;
                margin: 0 auto;
                top: 0;
                overflow: hidden;

                a {
                    display: block;
                    width: 800px;
                    height: 450px;
                    text-align: center;
                    padding-left: 10px;
                    margin: 0 auto
                }

                @for $i from 1 through 7 {
                    .i#{$i} {
                        background: url(../../img/ban#{$i}) center top no-repeat;
                    }
                }

                .jiantou {
                    display: none;
                    width: 28px;
                    height: 62px;
                    font: 400 22px/62px simsun;
                    color: #fff;
                    text-align: center;
                    background: url(../../img/lr.png) no-repeat;
                    background-size: cover;
                    text-decoration: none;
                    pointer-events: auto;

                    &:nth-child(2) {
                        background-position-x: -10px;
                    }

                    &:nth-child(3) {
                        background-position-x: -60px;
                    }
                }

                .swiper-pagination {
                    .swiper-pagination-bullet {
                        width: 21px;
                        height: 21px;
                    }

                    .swiper-pagination-bullet-active {
                        background: #3a9900;
                    }
                }
            }
        }
    }

    //轮播图右边
    .cont_w {
        position: relative;

        .cont_r {
            position: absolute;
            top: -455px;
            right: 5px;
            width: 200px;
            height: 450px;
            margin-top: 5px;
            background: #fff;

            .r_title {
                position: absolute;
                width: 202px;
                overflow: hidden;

                .r_cur {
                    width: 67px;
                    padding: 0;
                    color: #0D8700;
                    border-bottom: 2px solid #2d8800;
                    background-color: #fff;
                }

                li {
                    float: left;
                    width: 65px;
                    height: 29px;
                    padding: 0 1px;
                    line-height: 29px;
                    color: #3c3c3c;
                    text-align: center;
                    border-bottom: 2px solid #fff;
                    background-color: #F7F7F7;
                    cursor: pointer;
                }
            }

            .r_warp {
                padding: 35px 16px 6px;
                height: 75px;

                >li {
                    display: none;
                    padding: 7px 0;
                    overflow: hidden;
                    zoom: 1;

                    ul>li {
                        padding-left: 3px;
                        height: 21px;
                        line-height: 21px;
                        overflow: hidden;
                    }
                }

                .r_list {
                    display: list-item;
                }
            }

            .lead_btn_wrap {
                width: 201px;
                border-top: 1px solid #ddd;
                overflow: hidden;

                li {
                    float: left;
                    width: 66px;
                    height: 60px;
                    border-bottom: 1px dotted #ddd;
                    border-right: 1px dotted #ddd;
                    overflow: hidden;
                    text-align: center;

                    @for $i from 1 through 9 {
                        .i#{$i} {
                            background: url(../../img/lead_btn_wrap#{$i}) center top no-repeat;
                            display: block;
                            width: 67px;
                            height: 61px;
                        }
                    }
                }
            }

            .add_b {
                width: 200px;
                height: 148px;
                margin: 0;
            }
        }
    }

    //选择性出现的折扣
    .selfactive {
        width: 100%;
        height: 800px;
        background: url(../../img/xuanze.png) center no-repeat;

        .sft_cont {
            height: 547px;
            padding-top: 205px;
            margin-left: -605px;
            left: 50%;
            display: block;
            position: absolute;

            .sft_left {
                height: 547px;
                float: left;
            }

            .sft_right {
                position: absolute;
                left: 228px;

                a>img {
                    padding: 3px;
                    float: left;

                }
            }

            .sft_foot {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }

    //我买网推荐
    .recommend {
        width: 100%;

        .recommend-pro {
            margin-top: 6px;
            font-family: "微软雅黑";
            overflow: hidden;

            h2 {
                height: 46px;
                font-weight: normal;
                line-height: 46px;
                border-bottom: 2px solid #4bae00;
                overflow: hidden;

                span {
                    font-size: 20px;
                    color: #383838;
                    vertical-align: middle;
                }

                i {
                    margin-left: 20px;
                    padding: 14px 0;
                    vertical-align: middle;

                    img {
                        width: 216px;
                        height: 18px;
                        margin-top: 14px;
                    }
                }
            }

            .adv1 {
                height: 420px;

                li {
                    float: left;
                }
            }

            .pr {
                position: relative;
                padding-right: 0px;
                border-right: 0px solid #ededed;
                overflow: hidden;
                height: 320px;

                .w2420 {
                    width: 2420px;
                    position: absolute;
                    float: left;
                    left: 0;
                    height: 320px;
                    overflow: hidden;

                    li {
                        float: left;
                        width: 242px;
                        height: 320px;
                        overflow: hidden;

                        img {
                            position: relative;
                            width: 252px;
                            height: 320px;
                        }

                        &:nth-child(1) {
                            position: relative;
                            width: 484px;
                            height: 320px;
                            overflow: hidden;

                            img {
                                position: relative;
                                width: 494px;
                                height: 320px;
                            }
                        }
                    }
                }

                .btn {
                    background: url(../../img/lr.png) no-repeat;
                    display: none;
                    position: absolute;
                    top: 138px;
                    z-index: 20;
                    width: 32px;
                    height: 38px;
                    opacity: 0.8;
                    cursor: pointer;
                }

                .prevbtn {
                    left: 0;
                    background-position: 0 0;
                }

                .nextbtn {
                    right: 5px;
                    background-position: -32px 0;
                }
            }

            .floor-adv {
                margin-top: 30px;
                overflow: hidden;

                ul>li {
                    float: left;
                    width: 403px;
                    height: 110px;
                    overflow: hidden;
                }
            }
        }

        .rmd_cont>.madden-pro {
            position: relative;
            overflow: hidden;

            .verticaImg {
                float: left;
                height: 320px;
                position: relative;
                width: 242px;

                .img1 {
                    height: 400px;
                    left: -242px;
                    display: none;
                    position: absolute;
                    width: 242px;
                }

                .img2>img {
                    height: 320px;
                    width: 242px;
                }
            }

            .verticabox {
                position: relative;
                float: right;
                width: 972px;
                height: 320px;
                margin-right: -5px;
                overflow: hidden;

                ul {
                    position: absolute;
                    height: 320px;
                    overflow: hidden;
                    width: 1942px;
                    left: 0px;

                    li {
                        position: relative;
                        float: left;
                        width: 238px;
                        height: 320px;
                        border-right: 5px solid #ededed;

                        .imgChange {
                            display: block;
                            width: 238px;
                            height: 220px;
                            overflow: hidden;

                            img {
                                height: 180px;
                                width: 180px;
                                margin: 20px 0 0 29px;
                                transition: all 1s;
                            }

                            .img2 {
                                transform: scale(1.3);
                            }
                        }

                        .inforBox {
                            width: 203px;
                            height: 80px;
                            padding: 10px 17px 10px 18px;
                            background: #f1f7f4;
                            overflow: hidden;

                            .textBt {


                                a {
                                    font-size: 16px;
                                    color: #383838;
                                }
                            }

                            p {
                                width: 100%;
                                height: 23px;
                                line-height: 23px;
                                font-size: 14px;
                                overflow: hidden;


                            }

                            .buy-btn {
                                span {
                                    line-height: 30px;
                                    font-size: 20px;
                                    color: #de0801;
                                }

                                a {
                                    float: right;
                                    width: 80px;
                                    height: 28px;
                                    margin-top: 2px;
                                    line-height: 26px;
                                    font-size: 14px;
                                    color: #fff;
                                    text-align: center;
                                    background: #FF870F;
                                    overflow: hidden;
                                }
                            }
                        }
                    }
                }

                .btn {
                    background: url(../../img/lr.png) no-repeat;
                    display: none;
                    position: absolute;
                    top: 91px;
                    z-index: 20;
                    width: 32px;
                    height: 38px;
                    opacity: 0.8;
                    cursor: pointer;
                }

                .prevbtn {
                    left: 0;
                    background-position: 0 0;
                }

                .nextbtn {
                    right: 5px;
                    background-position: -32px 0;
                }
            }
        }

    }

    //渲染的详情
    .floor {
        margin-top: 14px;
        font-family: "微软雅黑";

        >div {
            float: left;

        }

        .floor-l {
            width: 242px;

            h3 {
                font-family: Microsoft YaHei;
                position: relative;
                height: 38px;
                padding-left: 15px;
                font-weight: normal;
                font-size: 20px;
                line-height: 38px;

                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 8px;
                    width: 5px;
                    height: 20px;
                }
            }

            .con {
                position: relative;
                padding-top: 50px;

                span {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 56px;
                    height: 20px;
                    padding: 10px 0 34px 8px;
                    line-height: 20px;
                    font-size: 18px;
                    color: #fff;
                    font-weight: bold;
                    cursor: pointer;
                }

                ul {
                    width: 200px;
                    height: 110px;
                    padding-bottom: 9px;
                    margin-left: 21px;

                    li {
                        position: relative;
                        float: left;
                        width: 75px;
                        height: 36px;
                        padding-left: 25px;
                        font-size: 14px;
                        line-height: 36px;
                        overflow: hidden;

                        @for $k from 1 through 6 {
                            &>.i#{$k} {
                                background: url(../../img/i#{$k});
                            }
                        }

                        i {
                            position: absolute;
                            top: 7px;
                            left: 0;
                            display: block;
                            width: 22px;
                            height: 22px;
                        }
                    }
                }

                .verticaImg {
                    float: left;
                    height: 335px;
                    position: relative;
                    width: 242px;

                    .img1 {
                        height: 400px;
                        left: -242px;
                        display: none;
                        position: absolute;
                        width: 242px;
                    }

                    .img2>img {
                        height: 335px;
                        width: 242px;
                    }
                }
            }
        }

        .floor-r {
            width: 968px;

            .tit {
                height: 36px;
                margin: 0 0 2px 30px;
                font-size: 16px;
                line-height: 36px;
                color: #434343;

                li {
                    float: left;
                    height: 36px;
                    margin-right: 30px;
                    padding: 0 5px;
                    text-align: center;
                    color: #383838;
                    overflow: hidden;
                    border-bottom: 2px transparent solid;
                }

                .tit_cur {
                    border-bottom: 2px solid #a1c0f6;
                }
            }

            .con {
                width: 968px;
                height: 503px;
                position: relative;
                display: none;
                border-top: 1px solid #88A9E2;

                .adv {
                    position: absolute;
                    top: 0;
                    left: 242px;
                    width: 482px;
                    height: 250px;
                    border-right: 1px solid #ededed;
                    border-bottom: 1px solid #ededed;
                    overflow: hidden;

                    .jiantou {
                        display: none;
                        width: 28px;
                        height: 62px;
                        font: 400 22px/62px simsun;
                        color: #fff;
                        text-align: center;
                        background: url(../../img/lr.png) no-repeat;
                        background-size: cover;
                        text-decoration: none;
                        pointer-events: auto;

                        &:nth-child(2) {
                            background-position-x: -10px;
                        }

                        &:nth-child(3) {
                            background-position-x: -60px;
                        }
                    }
                }

                ul {
                    overflow: auto;

                    li {
                        float: left;
                        width: 241px;
                        height: 250px;
                        border-bottom: 1px solid #ededed;
                        border-right: 1px solid #ededed;
                        overflow: hidden;

                        a {
                            width: 240px;
                            height: 190px;
                            text-align: center;
                            display: block;

                            img {
                                position: relative;
                                left: 0;
                                width: 180px;
                                height: 180px;
                                margin: 0 auto;
                                margin-top: 6px;
                            }
                        }

                        .name {
                            height: 24px;
                            font-size: 14px;
                            line-height: 24px;
                            color: #383838;
                            cursor: pointer;
                        }

                        p {
                            width: 200px;
                            margin-left: 20px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }

                        .price {
                            height: 26px;
                            font-size: 14px;
                            line-height: 26px;
                            color: #dd0800;

                            .bold {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }

            .tab {
                .transparency_wrap {
                    .first {
                        margin-right: 484px;
                    }
                }
            }
        }
    }

    .floor1 {
        .floor-l {
            h3 {

                color: #88A9E2;



                &:after {
                    background: #88A9E2;
                }
            }

            .con {
                background: #88a9e2;
            }

        }
    }

    .floor2 {
        .floor-l {
            h3 {

                color: #87D0EB;



                &:after {
                    background: #87D0EB;
                }
            }

            .con {
                background: #87D0EB;
            }

        }
    }

    //底部导航

    .footer_nav {
        margin-top: 45px;
        border-top: 2px solid #3ea600;

        .nav_cont {
            border-left: 1px solid #ededed;

            >li {
                float: left;
                width: 240px;
                height: 364px;
                border-right: 1px solid #ededed;
                border-bottom: 1px solid #ededed;

                h3 {
                    height: 82px;
                    font-weight: bold;
                    padding: 0 18px;
                    font-size: 16px;
                    line-height: 82px;
                    text-align: center;
                    cursor: pointer;
                    overflow: hidden;
                }

                div {
                    text-align: center;



                    i {
                        display: inline-block;
                        width: 98px;
                        height: 98px;
                    }
                }

                ul {
                    height: 125px;
                    margin-top: 25px;
                    padding-left: 34px;
                    overflow: hidden;

                    li {
                        float: left;
                        width: 95px;
                        margin-right: 8px;
                        height: 26px;
                        line-height: 26px;
                        overflow: hidden;
                    }
                }

            }
        }
    }

    //底部
    .footer {
        margin-top: 45px;
        padding-top: 45px;
        border-top: 2px solid #e7e7e7;
        background: #f7f7f7;

        .mode_wrap {
            margin-left: 70px;
            overflow: hidden;

            .mode {
                position: relative;
                float: left;
                width: 144px;
                margin-right: 70px;

                &:after {
                    content: "";
                    position: absolute;
                    top: 12px;
                    right: 0;
                    display: block;
                    width: 1px;
                    height: 78px;
                    background: #e9e9e9;
                }

                h3 {
                    height: 26px;
                    margin-bottom: 5px;
                    line-height: 26px;
                    font-size: 16px;
                    color: #606060;
                    cursor: pointer;
                }

                ul>li {
                    height: 24px;
                    line-height: 24px;
                    color: #606060;
                    overflow: hidden;
                    cursor: pointer;
                }
            }
        }

        .mode_foot {
            width: 284px;

            dl {
                float: left;
                position: relative;
                margin-right: 45px;
                width: 86px;
                height: 122px;

                dt {
                    position: absolute;
                    top: 0;
                    left: -22px;
                    width: 130px;
                    height: 18px;
                    margin-bottom: 18px;
                    font-size: 16px;
                    color: #c60001;
                    text-align: center;
                    overflow: hidden;
                }

                dd {
                    position: relative;
                    top: 36px;
                }
            }
        }

        .about_wrap {
            padding: 25px 0 0 0;
            margin-top: 45px;
            border-top: 2px solid #3ea600;
            background: #fff;

            .links {
                height: 22px;
                line-height: 22px;
                color: #989898;
                overflow: hidden;
                margin: 0 auto;
                width: fit-content;

                li {
                    font-size: 14px;
                    color: #606060;
                    float: left;
                    cursor: pointer;

                    &:after {
                        content: "|";
                        padding: 18px;
                    }

                    &:nth-last-child(1) {
                        color: red;

                        &:after {
                            content: "";
                            padding: 18px;
                        }
                    }
                }
            }

            .footer-2019 {
                width: 790px;
                margin: 28px auto 0;

                .pic>a>img {
                    width: 200px;
                    height: 50px;
                    margin-right: 20px;
                }

                .copyright {
                    p {
                        height: 22px;
                        line-height: 22px;
                        color: #989898;
                        overflow: hidden;

                        i {
                            float: left;
                            position: relative;
                            width: 20px;
                            height: 20px;
                            background: url(../../img/beian.png) no-repeat;
                            vertical-align: middle;
                        }

                        span {
                            vertical-align: middle;
                        }
                    }

                }

                .foot_img {
                    width: 100%;
                    margin: 0 auto;
                    text-align: center;

                    img {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

.zhezhao {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 10571px;
    opacity: 0.5;
    background-color: rgb(0, 0, 0);
    z-index: 1005;
}